obj
obj-*
lib
*.pyc
*.pkl
*.dump
*.qm
/extra
/doc/_build
/tools/gnatcov/doc/html
/tools/gnatcov/doc/pdf
/tools/gnatcov/obj32/
/tools/gnatcov/obj64/
/tools/gnatcov/obj-gnatcov_rts/
/tools/gnatcov/objlib64/
/tools/gnatcov/examples/support/conf.gpr
/tools/gnatcov/examples/support/lib
/tools/gnatcov/examples/support/obj
/tools/gnatcov/rts-instr
/tools/gnatcov/share/lib-gnatcov_rts_full.*
/tools/gnatcov/share/obj-gnatcov_rts
/tools/gnatcov/share/obj-gnatcov_rts_full.*
/testsuite/install
/testsuite/out
/testsuite/suite.cgpr
/testsuite/support
/testsuite/tmp
/testsuite/altrun/ccg_native/ccg_gnatcov_rts
/testsuite/altrun/ccg_native/adainclude
gnatcov-loc.xml
gnatinspect.db
README.html
TAGS
*.~undo-tree~
*.log

# temporary output of genrest.py
qualification/qualkit/tor/source/

# local copy/link to the gnatcheck-qualkit sources
qualification/gnatcheck_qualkit_common

# generated output of genbundle.py
qualification/**/build
qualification/**/source
qualification/**/missing_tr_log.txt
testsuite/STR/build
testsuite/STR/source

# vscode local settings
.env
.vscode

