mc_*
uc_*
dc_*
st_*
tmp_*
test.py.*
*.pyc
*.pkl
*.dump
*.qm
/extra
/tools/gnatcov/obj32/
/tools/gnatcov/obj64/
/tools/gnatcov/examples/support/lib
/tools/gnatcov/examples/support/obj
/testsuite/install
/testsuite/output
/testsuite/rep_gnatcov
/testsuite/suite.cgpr
/testsuite/support
/testsuite/tests
