repos:
  - repo: https://github.com/doublify/pre-commit-clang-format
    rev: 62302476d0da01515660132d76902359bed0f782
    hooks:
      - id: clang-format
        types: [file]
        files: \.(cc|c|h|cpp|hh)$
        args: ["--style=file"]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
    - id: flake8
      additional_dependencies:
        - flake8-bugbear
        - flake8-builtins
        - flake8-comprehensions
        - pygments
      args: ["--config=.flake8"]
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
    - id: black
      args: ["--line-length=79"]
  - repo: local
    hooks:
      - id: check-formatting
        name: check-formatting
        entry: python .check-formatting.py
        language: system
        args: ["--autofix", "--ignore-non-source"]
  - repo: local
    hooks:
      - id: gnatformat
        name: Run gnatformat
        entry: gnatformat
        args: ["--no-project"]
        language: system
        files: "^tools/gnatcov/.*\\.ad(b|s)$"

