BODY {
    counter-reset: chapter;      /* Create a chapter counter */
}
H1 {
    counter-increment: chapter;  /* Add 1 to chapter */
    counter-reset: section;      /* Set section to 0 */
    text-align:center;
}
H1:before {
    content: "Chapter " counter(chapter) ". ";
}
H2 {
    counter-increment: section;
    counter-reset: paragraph;
}
H2:before {
    content: counter(chapter) "." counter(section) " ";
}
H3 {
	counter-increment: paragraph;
}
H3:before {
	content: counter(chapter) "." counter(section) "." counter(paragraph) " ";
}


tr.covered { background-color: #80ff80; }
tr.not_covered { background-color: red; }
tr.partially_covered { background-color: orange; }
tr.no_code_odd { }
tr.no_code_even { background-color: #f0f0f0; }
table.SumTable td { background-color: #B0C4DE; }
td.SumHead { color: white; }
td.SumFile { color: green; }
td.SumNoFile { color: grey; }
table.SumTable td.SumBarCover { background-color: green; }
table.SumTable td.SumBarPartial { background-color: orange; }
table.SumTable td.SumBarNoCover { background-color: red; }
td.SumPourcent, td.SumLineCov { text-align: right; }
table.SourceFile td pre { margin: 0; }

tr.code { background-color: lightgrey; }
tr.code {font-family : courier; }

table.summary { border-width: thin; }
table.summary { border-spacing: 2px; }