d_*
aatc_*
aatcc_*
datc_*
datcc_*
matc_*
matcc_*
uatc_*
uatcc_*
ddecision_*
g_*
m_*
s_*
u_*
*fc_*/
tmp_*
tmp
bin
obj1
obj2
devnul
gprbuild.out
__pycache__
wd_*
test.py.*
.~undo-tree~
internal-tests
bsp_support
